.container {
    width: 1145px;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;


}
.list-link {
    text-transform: uppercase;
    width: 620px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
    padding: 6px;



}
.main-title {
    width: 774px;
    color: #373737;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;

}
.block-text {
    font-size: 16px;
    line-height: 26px;
    color: #373737;

}
.click-button {
    background: #FF0000;
    border: 4px solid #FF0000;
    text-transform: uppercase;
    color: #ffffff;
    padding: 17px 43px;
}
.footer-page {
    text-align: right;
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
    padding-right: 105px;
    font-weight: bold;

}
.hero {
    justify-content: center;

}